.challenge-container .searchbox #column {
	width: 200px;
	float: left;
}

.challenge-container .searchbox #search {
	width: 700px;
	float: left;
}

.challenge-container .searchbox {
	margin-bottom: 20px;
}


